{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>جزئیات و ویرایش پست</title>
    <link rel="stylesheet" href="{% static "/select_post/css/select_post.css" %}">
</head>
<body>
    {% comment %} <a href="http://127.0.0.1:8000{{test}}">test</a> {% endcomment %}
    <div class="container">
        
        <div class="post-display">
            <h1>پست: {{ post.title }}</h1>
            <h2>شناسه: {{ post.id }}</h2>
            <h3>متن: {{ post.text }}</h3>
            
            <button id="toggle-edit-button" class="edit-button">ویرایش پست</button>
        </div>
        
        <div id="edit-form-wrapper" class="edit-form-section">
            <h2>فرم ویرایش</h2>
            <form method="post">
                {% csrf_token %} 
                
                {{ form }}
                
                <button type="submit" class="save-button">ذخیره تغییرات</button>
            </form>
        </div>
    </div>
    <script src="{% static "/select_post/js/select_post.js" %}"></script>
</body>
</html>