{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practice</title>
    <link rel="stylesheet" href="{% static '/home/css/home.css' %}">
    <link rel="stylesheet" href="{% static '/header/css/header.css' %}">
</head>

<body id="body">
    {% include "header/header.html" %}
    <main>
        <div>
            <!-- <button id="button">Test</button> -->
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui
                doloremque, accusantium, iusto vero Lorem ipsum dolor, sit amet
                consectetur adipisicing elit. Qui doloremque, accusantium, iusto vero
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui
                doloremque, accusantium, iusto vero
            </p>
        </div>
    </main>
  <script src="{% static '/home/js/home.js' %}"></script> 
  <script src="{% static '/header/js/header.js' %}"></script>
</body>

</html>