{% load static %}
{% comment %} <link rel="stylesheet" href="{% static '/header/css/style.css' %}"> {% endcomment %}
<header id="header">
    <a href="" id="header-logo" class="header-a">Logo</a>
    <nav id="header-nav">
        <ul id="header-ul">
            
            <li class="header-li">
                <a href="" class="header-a">Bruh</a>
            </li>
            
            <li class="header-li">
                <a href="" class="header-a">Bruh</a>
            </li>

            <li class="header-li">
                <a href="" class="header-a">Bruh</a>
            </li>
            
        </ul>
    </nav>
    <button id="toggle-theme" aria-label="Toggle theme">☀️</button> 
</header>
{% comment %} <script src="{% static '/header/js/script.js' %}"></script> {% endcomment %}